* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: sans-serif;
}

:root{
  --rojo:#EF4848;
  --naranja:#EF8248;
  --azul:#48C2EF;
  --verde:#48EF88;
  --negro:#202020;
  --blanco:#FFFFFF;
  --gris1:#9E9E9E;
  --gris2:#E8E8E8;
  --yanone: "Yanone Kaffeesatz", sans-serif;
  --roboto: "Roboto Condensed", sans-serif;
}
/*Mobile*/
@media screen and (min-width:300px) and (max-width:700px) {
  details{
      margin: 5vw;
  }
  summary::marker{
color: var(--negro);
  }
.seccion{
width: 100%;
border-bottom: 2px solid #E8E8E8;
padding: 8vw 0  8vw 0;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 8vw;
}
.titpeq{
  font-size: 11vw ;
font-family: var(--yanone);
color: var(--negro);
width: 100%;
}
/*Articulos*/
.articulos{
  display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
gap: 6vw 4vw;
}
.contarticulo{
width: auto;
height: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.nombart{
  font-size: 8vw;
  font-family: var(--roboto);
  color: var(--negro);
  font-weight:bolder;
}
.btn,.btnc,.btnlc{
  width: auto;
  font-size: 4vw;
  background-color: var(--azul);
  font-family: var(--roboto);
  color: var(--blanco);
  border-radius: 1vw;
  padding: 1vw 2vw;
  text-align: center;
}
.btn:active{
  background-color:#129acc;
}
/*botón agregar*/
.agregar{
width: 10vw;
height: 10vw;
border-radius: 50%;
border: 2px solid var(--naranja);
color: var(--verde);
font-size: 8vw;
display: flex;
justify-content: center;
align-items: center;
}
/*Lista completa*/
.demlist{
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 5vw;
}
.liscomptit{
  font-size: 13vw ;
  font-family: var(--yanone);
  color: var(--negro);
  width: 100%;
  text-align: center;
}
.listaCompl{
  width: auto;
  height: auto;
  display: flex;
justify-content: center;
align-items:start;
flex-direction: column;
gap: 5vw;
}
.artenlistcomp{
  justify-content: center;
align-items: center;
flex-direction: row;
gap: 2vw;
}
.inpcheck { 
  width: 8vw;
  height: 8vw;
  border: 2px solid var(--naranja) !important;
  appearance: none; /* Elimina el estilo por defecto del navegador */
  -webkit-appearance: none; 
  -moz-appearance: none;
  border-radius: 4px; /* Opcional: redondear esquinas */
  position: relative;
  cursor: pointer;
  margin: none;
}

.inpcheck:checked::after {
  content: '✔'; 
  color: var(--verde); 
  font-weight: bold;
  font-size: 5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nmbrecheck{
  font-size: 8vw;
  font-family: var(--roboto);
  color: var(--negro);
  font-weight:bold;            
}
.elim{
color: var(--rojo);
background-color: var(--blanco);
border: none;
font-size: 7vw;
}

/*añadir elemento*/
.agrmas{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column; 
  gap: 1vw;
}
.inpagrmas{
width: 70%;
padding: 1vw;
border: none;
border-bottom: 2px solid var(--naranja);
outline: none;
color: var(--negro);
font-family: var(--roboto);
font-size: 6vw;
text-align: center;
}
.inpagrmas::placeholder{
  font-family: var(--roboto);
  color: var(--gris1);
  text-align: center;
  font-size: 6vw;
  }
  .btnc{
width:20vw ;
font-size:5vw ;
  }
  .btnlc{
      font-size:5vw ;
      width: auto;

  }
  /*agregar más*/
  .contelmagrmas{
    width: 65vw;
    padding: 4vw;
    display: flex;
    flex-wrap: wrap;
    align-items:center ;
    justify-content: center;
    gap: 3vw;
    border-radius: 4vw;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--blanco);
  }
  .inpcontagrmas,.inpcontedit{
    width: 100%;
    outline: none;
    border: none;
    border-bottom:2px solid var(--naranja);
    font-family: var(--roboto);
    font-size: 8vw;
    text-align: center;
    background-color: none;
  }
  .btnpeq{
    width: auto;
  font-size: 6vw;
  font-family: var(--roboto);
  color: var(--blanco);
  border: none;
  border-radius: 1vw;
  padding: 1vw 3vw;
  text-align: center;
 
  }
  .verde{
    background-color: var(--verde);
  }
  .rojo{
    background-color: var(--rojo);
  }
  footer{
      width: 100%;
      padding: 5vw;
  }
}
/*Tablet*/
@media screen and (min-width:701px) and (max-width:1500px) {
  details{
    margin: 5vw;
}
summary::marker{
color: var(--negro);
}
.seccion{
width: 100%;
border-bottom: 2px solid #E8E8E8;
padding: 2vw 0  4vw 0;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 2vw;
}
.titpeq{
font-size: 5vw ;
font-family: var(--yanone);
color: var(--negro);
width: 100%;
}
/*Articulos*/
.articulos{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
gap: 6vw 4vw;
}
.contarticulo{
width: auto;
height: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.nombart{
font-size: 4vw;
font-family: var(--roboto);
color: var(--negro);
font-weight:bolder;
}
.btn,.btnc,.btnlc{
width: auto;
font-size: 2vw;
background-color: var(--azul);
font-family: var(--roboto);
color: var(--blanco);
border-radius: 1vw;
padding: 1vw ;
text-align: center;
}
.btn:active{
background-color:#129acc;
}
.btn:hover{
  cursor: pointer;
  }
/*botón agregar*/
.agregar{
width: 5vw;
height: 5vw;
border-radius: 50%;
border: 2px solid var(--naranja);
color: var(--verde);
font-size: 4vw;
display: flex;
justify-content: center;
align-items: center;
}
.agregar:hover{
  cursor: pointer;
  }
/*Lista completa*/
.demlist{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 2vw;
}
.liscomptit{
font-size: 8vw ;
font-family: var(--yanone);
color: var(--negro);
width: 100%;
text-align: center;
}
.listaCompl{
width: auto;
height: auto;
display: flex;
justify-content: center;
align-items:start;
flex-direction: column;
gap: 1vw;
}
.artenlistcomp{
justify-content: center;
align-items: center;
flex-direction: row;
gap: 2vw;
}
.inpcheck { 
width: 4vw;
height: 4vw;
border: 8px solid var(--naranja) !important;
appearance: none; /* Elimina el estilo por defecto del navegador */
-webkit-appearance: none; 
-moz-appearance: none;
border-radius: 8px; /* Opcional: redondear esquinas */
position: relative;
cursor: pointer;
margin: none;
}

.inpcheck:checked::after {
content: '✔'; 
color: var(--verde); 
font-weight: bold;
font-size: 5vw;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.nmbrecheck{
font-size: 4vw;
font-family: var(--roboto);
color: var(--negro);
font-weight:bold;            
}
.elim{
color: var(--rojo);
background-color: var(--blanco);
border: none;
font-size: 3vw;
}

/*añadir elemento*/
.agrmas{
display: flex;
justify-content: center;
align-items:center;
flex-direction: column; 
gap: 1vw;
}
.inpagrmas{
width: 80%;
padding: 1vw;
border: none;
border-bottom: 2px solid var(--naranja);
outline: none;
color: var(--negro);
font-family: var(--roboto);
font-size: 3vw;
text-align: center;
}
.inpagrmas::placeholder{
font-family: var(--roboto);
color: var(--gris1);
text-align: center;
font-size: 2vw;
}
.btnc{
width:7vw ;
font-size:2vw ;
}
.btnlc{
    font-size:2vw ;
    width: auto;
}
.btnc,.btnlc:hover{
  cursor: pointer;
  }
/*agregar más*/
.contelmagrmas{
  width: 45vw;
  padding: 4vw;
  display: flex;
  flex-wrap: wrap;
  align-items:center ;
  justify-content: center;
  gap: 3vw;
  border-radius: 4vw;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  background-color: var(--blanco);
}
.inpcontagrmas,.inpcontedit{
  width: 100%;
  outline: none;
  border: none;
  border-bottom:2px solid var(--naranja);
  font-family: var(--roboto);
  font-size: 4vw;
  text-align: center;
  background-color: none;
}
.btnpeq{
  width: auto;
font-size: 3vw;
font-family: var(--roboto);
color: var(--blanco);
border: none;
border-radius: 1vw;
padding: 1vw 3vw;
text-align: center;
}
.btnpeq:hover{
  cursor: pointer;
  }
.verde{
  background-color: var(--verde);
}
.rojo{
  background-color: var(--rojo);
}
footer{
    width: 100%;
    padding: 5vw;
}
}

/*Pc*/
@media screen and (min-width:1501px) and (max-width:2500px) {
  details{
    margin: 5vw;
}
summary::marker{
color: var(--negro);
font-size: 2vw;
}
.seccion{
width: 100%;
border-bottom: 2px solid #E8E8E8;
padding: 2vw 0  4vw 0;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 2vw;
}
.titpeq{
font-size: 3vw ;
font-family: var(--yanone);
color: var(--negro);
width: 100%;
}
/*Articulos*/
.articulos{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
gap: 3vw 2vw;
}
.contarticulo{
width: auto;
height: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.nombart{
font-size: 2vw;
font-family: var(--roboto);
color: var(--negro);
font-weight:bolder;
}
.nombart:hover{
  cursor: pointer;
}
.btn,.btnc,.btnlc{
width: auto;
font-size: 1vw;
background-color: var(--azul);
font-family: var(--roboto);
color: var(--blanco);
border-radius: 1vw;
padding: 0.6vw ;
text-align: center;
}

.btn:hover,.btnc:hover,.btnlc:hover{
 background-color: #118ab6;
}
.btn:active{
background-color:#129acc;
}
.btn:hover{
  cursor: pointer;
  }
/*botón agregar*/
.agregar{
width: 4vw;
height: 4vw;
border-radius: 50%;
border: 4px solid var(--naranja);
color: var(--verde);
font-size: 4vw;
display: flex;
justify-content: center;
align-items: center;
}
.agregar:hover{
  cursor: pointer;
  border: 4px solid #d16f3a;
  }
/*Lista completa*/
.demlist{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 2vw;
}
.liscomptit{
font-size: 3vw ;
font-family: var(--yanone);
color: var(--negro);
width: 100%;
text-align: center;
}
.listaCompl{
width: auto;
height: auto;
display: flex;
justify-content: center;
align-items:start;
flex-direction: column;
gap: 1vw;
}
.artenlistcomp{
justify-content: center;
align-items: center;
flex-direction: row;
gap: 2vw;
}
.inpcheck { 
width: 2.5vw;
height: 2.5vw;
border: 8px solid var(--naranja) !important;
appearance: none; /* Elimina el estilo por defecto del navegador */
-webkit-appearance: none; 
-moz-appearance: none;
border-radius: 8px; /* Opcional: redondear esquinas */
position: relative;
cursor: pointer;
margin: none;
}

.inpcheck:checked::after {
content: '✔'; 
color: var(--verde); 
font-weight: bold;
font-size:3vw;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.nmbrecheck{
font-size: 2.5vw;
font-family: var(--roboto);
color: var(--negro);
font-weight:bold;            
}
.elim{
color: var(--rojo);
background-color: var(--blanco);
border: none;
font-size: 3vw;
}

/*añadir elemento*/
.agrmas{
display: flex;
justify-content: center;
align-items:center;
flex-direction: column; 
gap: 1vw;
}
.inpagrmas{
width: 70%;
padding: 1vw;
border: none;
border-bottom: 2px solid var(--naranja);
outline: none;
color: var(--negro);
font-family: var(--roboto);
font-size: 1.5vw;
text-align: center;
transition: all 0.1s;
}
.inpagrmas:hover{
  border-bottom: 4px solid var(--naranja);
}
.inpagrmas::placeholder{
font-family: var(--roboto);
color: var(--gris1);
text-align: center;
font-size: 1.5vw;
}
.btnc{
width:5vw ;
font-size:1vw ;
}
.btnlc{
    font-size:1vw ;
    width: auto;
}
.btnc,.btnlc:hover{
  cursor: pointer;
  }
/*agregar más*/
.contelmagrmas{
  width: 30vw;
  padding: 2vw;
  display: flex;
  flex-wrap: wrap;
  align-items:center ;
  justify-content: center;
  gap: 2vw;
  border-radius: 2vw;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  background-color: var(--blanco);
}
.inpcontagrmas,.inpcontedit{
  width: 70%;
  outline: none;
  border: none;
  border-bottom:2px solid var(--naranja);
  font-family: var(--roboto);
  font-size: 2vw;
  text-align: center;
  background-color: none;
  transition: all 0.1s;
}
.inpcontagrmas,.inpcontedit:hover{
  border-bottom:4px solid var(--naranja);
}
.btnpeq{
  width: auto;
font-size: 1.5vw;
font-family: var(--roboto);
color: var(--blanco);
border: none;
border-radius: 1vw;
padding: 0.6vw 0.6vw;
text-align: center;
}
.btnpeq:hover{
  cursor: pointer;
  }
.verde{
  background-color: var(--verde);
}

.rojo{
  background-color: var(--rojo);
}

footer{
    width: 100%;
    padding: 5vw;
}
}
.verde:hover{
  background-color: #36d14b;
}
.rojo:hover{
background-color: #d13636;
}
